nav
{
    position: fixed;
    width: 1400px;
    background-color: black;
}
nav ul{
    float: right;
    padding-right: 35px;
}
nav ul li{
    display: inline-block;
    padding: 20gitpx 12px ;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
a:hover
{
    color: rgb(9, 255, 0);
    background-color: rgb(216, 133, 25);
}